<nav class="flex items-center justify-between p-6 lg:px-14" aria-label="Global">
    <div class="flex lg:flex-1">
        <a href="{{ " /" | absURL }}">
            <img alt="{{ .Site.Params.logo.alt }}" class="{{ .Site.Params.logo.size }} ml-10"
                src="{{ .Site.Params.logo.header | relURL }}">
        </a>
    </div>
    <div class="flex lg:hidden">
        <button id="hamburgerbtn" type="button"
            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-slate-700">
            <span class="sr-only">Open main menu</span>
            <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </button>
    </div>
    <!-- Menu Nav -->
    <div class="hidden lg:flex lg:gap-x-12">

        <!-- {{ range .Site.Menus.main1 }}
            <a href="{{ .URL | safeURL }}"
                class="hidden lg:flex lg:gap-x-14 text-lg/6 font-semibol text-slate-100 hover:text-pink-600">
                <span>{{ .Name }}</span>
            </a>
            {{ end }} -->

        {{ range .Site.Menus.main2 }}
        <a href="{{ .URL | safeURL }}"
            class="hidden lg:flex lg:gap-x-14 text-lg/6 font-semibol text-slate-100 hover:text-pink-600">
            <span>{{ .Name }}</span>
        </a>
        {{ end }}

        {{ range .Site.Menus.main3 }}
        <a href="{{ .URL | safeURL }}"
            class="hidden lg:flex lg:gap-x-14 text-lg/6 font-semibol text-slate-100 hover:text-pink-600">
            <span>{{ .Name }}</span>
        </a>
        {{ end }}


        {{ range .Site.Menus.main4 }}
        <a href="{{ .URL | safeURL }}"
            class="hidden lg:flex lg:gap-x-14 text-lg/6 font-semibol text-slate-100 hover:text-pink-600">
            <span>{{ .Name }}</span>
        </a>
        {{ end }}
    </div>

    <!-- <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            {{ range .Site.Menus.login }}
            <a href="{{ .URL | safeURL }}"
                class="hidden lg:flex lg:gap-x-14 text-lg/6 font-semibol text-slate-100 hover:text-pink-600">
                <span>{{ .Name }}</span>
            </a>
            {{ end }}
        </div> -->
</nav>