<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body>

  {{ if .IsHome }}
  <div class="bg-gradient-to-b from-blue-500 to-green-500">
    <header>
      {{- partial "menus/header.html" . -}}
      {{- partial "menus/mobile-menu.html" . -}}
    </header>

    {{- partial "hero_sections.html" . -}}
  </div>

  {{ else }}

  <header>
    {{- partial "menus/header.html" . -}}
    {{- partial "menus/mobile-menu.html" . -}}
  </header>

  {{ end }}


  <main>
    {{ block "main" . }}{{ end }}
  </main>


  {{ partial "menus/footer.html" . }}


</body>

</html>