<section>
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <p class="mt-2 text-3xl font-bold tracking-tight text-pretty text-indigo-500 sm:text-4xl lg:text-balance">O que
          fazemos</p>
        <p class="mt-6 text-lg/8 text-gray-600">
          Trabalhamos com tecnologia de ponta e métodos racionais que podem ajudar sua empresa a escalar seus negócios
          e a melhorar sua performance.
        </p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
          <div class="relative pl-16">
            <dt class="text-[18px]/7 font-semibold text-gray-950">
              <div
                class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-gradient-to-r from-purple-400 to-pink-600">
                <svg class="size-6" fill="white" viewBox="0 0 512 512" stroke-width="1.5" stroke="currentColor"
                  aria-hidden="true" data-slot="icon">
                  <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M184 0c30.9 0 56 25.1 56 56l0 400c0 30.9-25.1 56-56 56c-28.9 0-52.7-21.9-55.7-50.1c-5.2 1.4-10.7 2.1-16.3 2.1c-35.3 0-64-28.7-64-64c0-7.4 1.3-14.6 3.6-21.2C21.4 367.4 0 338.2 0 304c0-31.9 18.7-59.5 45.8-72.3C37.1 220.8 32 207 32 192c0-30.7 21.6-56.3 50.4-62.6C80.8 123.9 80 118 80 112c0-29.9 20.6-55.1 48.3-62.1C131.3 21.9 155.1 0 184 0zM328 0c28.9 0 52.6 21.9 55.7 49.9c27.8 7 48.3 32.1 48.3 62.1c0 6-.8 11.9-2.4 17.4c28.8 6.2 50.4 31.9 50.4 62.6c0 15-5.1 28.8-13.8 39.7C493.3 244.5 512 272.1 512 304c0 34.2-21.4 63.4-51.6 74.8c2.3 6.6 3.6 13.8 3.6 21.2c0 35.3-28.7 64-64 64c-5.6 0-11.1-.7-16.3-2.1c-3 28.2-26.8 50.1-55.7 50.1c-30.9 0-56-25.1-56-56l0-400c0-30.9 25.1-56 56-56z" />
                </svg>
              </div>
              Machine Learning
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">
              Aprendizado baseado em dados. Nós utilizamos essa técnica para criar modelos que fazem previsões
              utilizando regressão linear,
              árvores de decisões, KNN, etc. Que ajudam na tomada de decisão e antever cenários conjunturais de forma
              inteligente e baseado na estatística.
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-[18px]/7 font-semibold text-gray-900">
              <div
                class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-gradient-to-r from-purple-400 to-pink-600">
                <svg class="size-6" fill="white" viewBox="0 0 576 512" stroke-width="1.5" stroke="currentColor"
                  aria-hidden="true" data-slot="icon">
                  <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M304 240l0-223.4c0-9 7-16.6 16-16.6C443.7 0 544 100.3 544 224c0 9-7.6 16-16.6 16L304 240zM32 272C32 150.7 122.1 50.3 239 34.3c9.2-1.3 17 6.1 17 15.4L256 288 412.5 444.5c6.7 6.7 6.2 17.7-1.5 23.1C371.8 495.6 323.8 512 272 512C139.5 512 32 404.6 32 272zm526.4 16c9.3 0 16.6 7.8 15.4 17c-7.7 55.9-34.6 105.6-73.9 142.3c-6 5.6-15.4 5.2-21.2-.7L320 288l238.4 0z" />
                </svg>
              </div>
              Data Visualization
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">Construímos soluções de nível empresarial e totalmente escaláveis
              baseadas como aplicações web para que sua empresa tenha ferramentas de gestão e visualização de dados.
              Nossas aplicações
              integram R e Python ao framework Shiny, um poderoso visualizador de dados que consegue dar uma interface a
              códigos complexos em Data Science, gerando um nível de robustez e costumização para o seu app sem igual no
              mercado.
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-[18px]/7 font-semibold text-gray-900">
              <div
                class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-gradient-to-r from-purple-400 to-pink-600">
                <svg class="size-6" fill="white" viewBox="0 0 512 512" stroke-width="1.5" stroke="currentColor"
                  aria-hidden="true" data-slot="icon">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64L0 400c0 44.2 35.8 80 80 80l400 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 416c-8.8 0-16-7.2-16-16L64 64zm406.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L320 210.7l-57.4-57.4c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L240 221.3l57.4 57.4c12.5 12.5 32.8 12.5 45.3 0l128-128z" />
                </svg>
              </div>
              Modelagem Financeira
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">Desenvolvemos gráficos ou dashboards que ajudam na tomada
              estratégica de decisões. Incorporando
              métodos estatísticos, matemáticos e financeiros na elaboração desses processos.
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-[18px]/7 font-semibold text-gray-900">
              <div
                class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-gradient-to-r from-purple-400 to-pink-600">
                <svg class="size-6" fill="white" viewBox="0 0 512 512" stroke-width="1.5" stroke="currentColor"
                  aria-hidden="true" data-slot="icon">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M64 32C28.7 32 0 60.7 0 96l0 64c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-64c0-35.3-28.7-64-64-64L64 32zm280 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm48 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zM64 288c-35.3 0-64 28.7-64 64l0 64c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-64c0-35.3-28.7-64-64-64L64 288zm280 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm56 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z" />
                </svg>
              </div>
              VPS Server
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">Alugamos servidores de alto desempenho para quem precisa de
              hardware robusto na hora de codar e ter boa performance.
              Disponibilizamos através de nossa cloud uma IDE individual e que cabe no seu bolso.
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-[18px]/7 font-semibold text-gray-900">
              <div
                class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-gradient-to-r from-purple-400 to-pink-600">
                <svg class="size-6" fill="white" viewBox="0 0 640 512" stroke-width="1.5" stroke="currentColor"
                  aria-hidden="true" data-slot="icon">
                  <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M320 0c17.7 0 32 14.3 32 32l0 64 120 0c39.8 0 72 32.2 72 72l0 272c0 39.8-32.2 72-72 72l-304 0c-39.8 0-72-32.2-72-72l0-272c0-39.8 32.2-72 72-72l120 0 0-64c0-17.7 14.3-32 32-32zM208 384c-8.8 0-16 7.2-16 16s7.2 16 16 16l32 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-32 0zm96 0c-8.8 0-16 7.2-16 16s7.2 16 16 16l32 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-32 0zm96 0c-8.8 0-16 7.2-16 16s7.2 16 16 16l32 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-32 0zM264 256a40 40 0 1 0 -80 0 40 40 0 1 0 80 0zm152 40a40 40 0 1 0 0-80 40 40 0 1 0 0 80zM48 224l16 0 0 192-16 0c-26.5 0-48-21.5-48-48l0-96c0-26.5 21.5-48 48-48zm544 0c26.5 0 48 21.5 48 48l0 96c0 26.5-21.5 48-48 48l-16 0 0-192 16 0z" />
                </svg>
              </div>
              Automação de Processos
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">
              Se a sua empresa precisa de soluções envolvendo RPA ou APA, pode
              contar conosco. Desenvolvemos processos onde automatizamos 100% de tarefas repetitivas,
              não importando se sejam simples como um envio de email ou mais complexa como um relatório com dados
              analíticos que precisam ser gerados via códigos e enviados todo dia.
            </dd>
          </div>
          <div class="relative pl-16">
            <dt class="text-[18px]/7 font-semibold text-gray-900">
              <div
                class="absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-gradient-to-r from-purple-400 to-pink-600">
                <svg class="size-6" fill="white" viewBox="0 0 448 512" stroke-width="1.5" stroke="currentColor"
                  aria-hidden="true" data-slot="icon">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M448 80l0 48c0 44.2-100.3 80-224 80S0 172.2 0 128L0 80C0 35.8 100.3 0 224 0S448 35.8 448 80zM393.2 214.7c20.8-7.4 39.9-16.9 54.8-28.6L448 288c0 44.2-100.3 80-224 80S0 332.2 0 288L0 186.1c14.9 11.8 34 21.2 54.8 28.6C99.7 230.7 159.5 240 224 240s124.3-9.3 169.2-25.3zM0 346.1c14.9 11.8 34 21.2 54.8 28.6C99.7 390.7 159.5 400 224 400s124.3-9.3 169.2-25.3c20.8-7.4 39.9-16.9 54.8-28.6l0 85.9c0 44.2-100.3 80-224 80S0 476.2 0 432l0-85.9z" />
                </svg>
              </div>
              Database
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">
              Construímos e integramos base de dados para o seu negócio utilizando as melhores soluções para que se
              tenha uma base limpa e organizada, mantendo seus dados com segurança e eficiência.
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>