<div class="isolate px-6 py-24 sm:py-32 lg:px-8">
    <form name="contact" action="https://getform.io/" method="POST" class="mx-auto mt-16 w-100 sm:mt-20">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-1">
            <div>
                <div class="mt-2.5">
                    <input type="text" placeholder="Name" name="name"
                        class="block w-full rounded-md bg-slate-100 px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                        required>
                </div>
                <div class="mt-2.5">
                    <input type="text" placeholder="Email" name="mail"
                        class="block w-full rounded-md bg-slate-100 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                        required>
                </div>
                <div class="mt-2.5">
                    <input type="text" placeholder="Title" name="title"
                        class="block w-full rounded-md bg-slate-100 px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                        required>
                </div>
            </div>
        </div>
        <div class="mt-2.5">
            <textarea rows="5" cols="30" placeholder="Message" name="message"
                class="block w-full rounded-md bg-slate-100 px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
                required></textarea>
        </div>
        <div class="flex justify-center mt-4">
            <input type="submit" value="Submit" class=" block w-60 
                        rounded-md 
                        bg-indigo-600 
                        px-3.5 
                        py-2.5 
                        text-center 
                        text-sm 
                        font-semibold 
                        text-slate-100 
                        shadow-xs 
                        hover:bg-gradient-to-r 
                        from-purple-400 
                        to-pink-600 
                        focus-visible:outline-2 
                        focus-visible:outline-offset-2 
                        focus-visible:outline-indigo-600">
        </div>
    </form>
</div>